= semantic_form_for @story do |f|
  = f.inputs do
    = f.input :title
    = f.input :description
    = f.input :mood
    = f.input :superplot, :collection => Story.all_but(@story)
    = f.input :picture, :as => :file
  = f.buttons
