-title do
  =@story.title
  &ndash; Roles

.listing
  - @roles.each do |role|
    %section
      %h1
        = link_to role.character, [@story,role]
        &mdash;
        = role.role
      = role.description
      %nav
        = link_to 'Edit', edit_story_role_path(@story, role)
        = link_to 'Destroy', [@story, role], :confirm => 'Are you sure?', :method => :delete

%hr
= link_to 'New Role', new_story_role_path(@story)
