%html
  %head
    %title StoryBuilder
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav
      = link_to_unless_current "Stories", stories_path
      = link_to_unless_current "Characters", characters_path
      = link_to_unless_current "Locations", locations_path
    %article#main
      = yield
