%html
  %head
    %title StoryBuilder
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav
      = link_to "Stories", stories_path
      = link_to "Characters", characters_path
      = link_to "Locations", locations_path
    %article#main
      = yield
